.detail-container {
	width: 100%;
	margin-top: 75px;
}

.detail-headliner {
	color: #1E66D2;
	font-size: 48px;
	margin-left: 110px;
	margin-bottom: 75px;
}

.detail-image {
	width: 850px;
	height: 600px;
	margin-left: 75px;
}

.card-item {
	color: rgb(17, 16, 16);
	margin-bottom: 100px;
	font-size: 1.2rem;
	display: flex;
	text-align: left;
}

.card-description-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 50px;
}

.card-header {
	font-size: 20px;
}

.card-title {
	font-size: 42px;
	color: #1E66D2;
	margin-bottom: 15px;
	border-bottom: .5px solid black;
}

.card-created {
	width: 400px;
	text-align: center;
	border: .5px solid rgb(180, 180, 180);
	padding: 15px;
	margin-top: 35px;
}

.card-description {
	width: 600px;
	font-size: 24px;
}

.card-header, .card-title {
	font-family: 'Vollkorn', serif;
}

.anchor-links {
	display: flex;
	margin-top: 10px;
}


.anchor-icon-link {
	font-size: 50px;
	color: black;
	cursor: pointer;
	margin: 15px;
}

.anchor-icon-link:hover {
	color: #CC333F;
}

@media screen and (max-width: 940px) {
	.detail-container {
		margin-top: 15px;
	}

	.detail-image {
		width: 350px;
		height: 250px;
		margin: 0 auto;
	}

	.anchor-icon-link {
		width: 50px;
		height: 50px;
		margin: 0 auto;
	}

	.card-description-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.anchor-links {
		display: flex;
		justify-content: center;
		margin-top: 25px;
		width: 100%;
		font-size: 24px;
	}

	.detail-headliner {
		text-align: left;
		width: 350px;
		margin-top: 15px;
		font-size: 25px;
		margin-left: 25px;
	}

	.card-title {
		font-size: 24px;
	}

	.card-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.card-list {
		width: 100%;
	}

	.card-header, .card-title {
		width: 250px;
		text-align: left; 
		margin-left: 50px;
	}

	.card-header {
		margin-top: 15px;
	}

	.card-description {
		text-align: left; 
		width: 300px;
		margin-top: 10px;
		margin-bottom: 25px;
		margin-left: 50px;
		font-size: 18px;
	}

	.card-created {
		padding: 5px;
		width: 350px;
		margin: 0 auto;
	}
}
