.detail-container {
	width: 100%;
}

.detail-container h2 {
	color: rgb(17, 16, 16);
	text-align: center;
	font-size: 24px;
}

.card-item img {
	width: 50%;
}

.card-item {
	color: rgb(17, 16, 16);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 25px 20px;
	font-size: 1.2rem;
}

.card-header {
	font-size: 18px;
}

.card-title {
	font-size: 24px;
	color: #1E66D2;
}

.card-created {

}

.card-header, .card-title {
	font-family: 'Vollkorn', serif;
}

.anchor-links {
	display: flex;
	margin-top: 10px;
	width: 200px;
}

.linkIcon:hover {
	background-color: whitesmoke;
	border-radius: 5px;
}

.github-icon:hover {
	background-color: whitesmoke;
	border-radius: 5px;
}

@media screen and (max-width: 940px) {
	img:first-child {
		width: 100%;
	}
	.anchor-links img {
		width: 40px;
		margin: 5px;
		padding: 0px 2px;
	}
	.anchor-links {
		/* border: 2px solid red; */
		display: flex;
		justify-content: center;
	}
	.detail-container h2 {
		border-bottom: .5px solid black;
		text-align: center;
		width: 250px;
		margin: 0 auto;
		margin-top: 15px;
		color: #1E66D2;
		font-size: 36px;
	}
	.card-list {
		width: 100%;
	}
	.card-header, .card-title {
		width: 300px;
		text-align: left; 
	}
	.card-header {
		margin-top: 15px;
	}
	.card-description {
		text-align: left; 
		width: 300px;
		margin-top: 10px;
	}
	.card-created {
		padding: 5px;
		width: 300px;
		border: .5px solid rgb(180, 180, 180);
		margin-top: 5px;
	}
}
