.about {
    margin-top: 350px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.container img {
    width: 40%;
    height: 40%;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 25px; 
}

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    height: 100%;
}

.container h2 {
    color: #1E66D2;
    font-size: 25px;
}

.container h5 {
    color: #1E66D2;
}

/* Text Container */
.text-container {
    width: 600px;
    margin-left: 50px;
}

.text-container p {
    margin-top: 15px;
    font-family: 'Manrope';
}

.technology-container {
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

/* Media Queries  */
@media screen and (max-width: 940px) {
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .text-container {
        text-align: left;
        width: 100%;
        margin: 0;
    }
    .text-container p {
        font-size: 14px;
        width: 90%;
    }
    .text-container p {
        margin-left: 25px;
    }
    .text-container h2 {
        text-align: center;
        border-bottom: .5px solid black;
        width: 150px;
        margin: 0 auto;
    }
    .container img {
        margin: 20px 0; 
        width: 80%;
    }
    .about {
        margin-top: 135px;
    }
    .technology-container {
        text-align: center;
        margin-top: 20px;
        height: 125px;
    }
    .list-of-technologies {
        width: 350px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .list-text {
        padding: 5px;
    }
    .technology-container h5 {
        width: 225px;
        font-size: 14px;
        margin: 0 auto;
    }
}