.footer-container {
    width: 100%;
    padding: 50px;
}

.footer-header {
    text-align: center;
    font-family: 'Manrope';
}

@media screen and (max-width: 940px) {
    .footer-container {
        width: 100%;
        padding: 50px;
        text-align: center;
    }
}