* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: maroon;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: green;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: maroon;
}